@using Shopping_Cart_UI.Models.DTO
@model BookDisplayModel

<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId">
                <option selected>Genres</option>
                @foreach(var genre in Model.Genres)
                {
                    <option selected="@(genre.Id == Model.GenreId)" value="@genre.Id">@genre.GenreName</option>
                }
               @*  <option value="1">Action</option>
                <option value="2">Horror</option>
                <option value="3">Romance</option>
                <option value="4">ScienceFiction</option> *@

            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="searchTerm">Search By Title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.SearchTerm" id="searchTerm" name="searchTerm" placeholder="Search By Title">
            </div>
        </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index"  class="btn btn-dark">Reset</a>
          </div>
</form>


</div>


<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach ( var book in Model.Books){
<div class="card mx-2 mb-4" style="width: 18rem;">

            @if (string.IsNullOrEmpty(book.Image))
            {
                <img src="/images/NoImage.png" class="card-img-top" alt="...">
            }
            else{
                <img src="/images/@book.Image" class="card-img-top" alt="...">
            }
            @* <img src="..." class="card-img-top" alt="..."> *@
    <div class="card-body">
        <h5 class="card-title">@book.BookName</h5>
        <p class="card-text">
        Genre:@book.GenreName <br />
        Author: @book.AuthorName<br />
        Price:@book.Price
              </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
        </div>
    }
</div>